@media (max-width:630px) {
  .card{
    width: 90px;
    height: 90px;
  }
  .main-container{
    max-width: 500px !important;
  }
  .card-face{
    font-size: 65px;
  }
}

@media (max-width:510px) {
  .card{
    width: 80px;
    height: 80px;
  }
  .main-container{
    max-width: 450px !important;
  }
  .card-face{
    font-size: 60px;
  }
}

@media (max-width:480px) {
  .card{
    width: 70px;
    height: 70px;
  }
  .main-container{
    max-width: 400px !important;
  }
  .card-face{
    font-size: 50px;
  }
}

@media (max-width:430px) {
  .card{
    width: 60px;
    height: 60px;
  }
  .main-container{
    max-width: 350px !important;
  }
  .card-face{
    font-size: 40px;
  }
}
